*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(212, 255, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
/* Container principal */
.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1vh  rgb(0, 0, 0);
    min-width: 60vh;
    min-height: 100vh;
    gap: 1vh;
}

/* Títulos */
.main-container > h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 169, 130);
    margin-top: 5vh;
}

/* Descrição */
.main-container > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 169, 130);   
    margin: 0 auto 30px auto;
    text-align: center;
    margin-bottom: 2vh;
}

/* Formulário */
.input-catalog-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 3vh;
    gap: 3vh;
    border-radius: 2vh;
    
}

/* Seções do formulário */
.form-section {
    display: flex;
    flex-direction: column;
    
}

/* Grupos de itens do formulário */
.form-group {
    padding: 2vh;
    border: 0.1vh solid grey;
    border-radius: 1vh;
    
}

/* Títulos dos grupos */
.form-group-title {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(0, 169, 130);
    font-size: 17px;

}
/* Labels dos campos */
.form-label {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

/* Campos de entrada */
.form-input {
    width: 100%;
    padding: 1.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0.1vh solid rgb(142, 142, 142);
    border-radius: 1vh;
}

.form-check {

}

.form-check input {

}
/* Controles do formulário */
.form-controls {
    display: flex   ;
    gap: 2vh;

}

/* Botões do formulário */
.form-button {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 2vh;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 20px;
}

.form-button:hover {
    transform: translateY(3.5px);
    
}

/* Botão de envio */
.submit-button {
    background-color: rgb(0, 85, 255);

}

/* Botão de reset */
.reset-button {
    background-color: rgb(93, 93, 93);
}

/* Botão de action */
.action-button {
    background-color: green;
}
.form-select {
    padding: 2vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-bottom: 2vh;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    gap: 1.5vh;
}

.form-check-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 1vh;
}

.form-check input {
    width: 2vh;
    height: 2vh;
}
